* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-image: linear-gradient(to right,#a82833, #faff7c);
    padding-bottom: 70px;
}

.container form {
    padding: 20px;
    width: 700px;
    background-color: #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.container form .row .col .title {
    font: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputbox {
    margin: 15px 0;
}

.container form .row .col .inputbox span {
    margin-bottom: 5px;
    display: block;
}

.container form .row .col .inputbox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}

.container form .row .col .inputbox input:focus {
    border: 1px solid #000;
}

.container form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputbox {
    margin-top: 5px;
}

.container form .row .col .flex .inputbox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background-color: #b38e29;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.container form .submit-btn:hover {
    background: #e6b735;
    color: #000;
}

.order-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.order-details .inputbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-details .inputbox span {
    font-weight: bold;
}

.order-details .inputbox span#orderReference,
.order-details .inputbox span#totalAmount {
    color: #645602;
}
